.box-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-box-login {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e2c5c5;
  text-align: center;
}

.input-box-login input[type="email"], .input-box-login input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.input-box-login input[type="email"]:focus, .input-box-login input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}